body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 100px;
    background-color: #000000;
}

#contador {
    color: aliceblue;
    font-size: 48px;
    margin: 20px;
}

button {
    font-size: 20px;
    margin: 10px;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}
